*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.idea/*
llava/
_vis_cached/
_vqgan/
_vae/
_vae*/
ckpt/
log/
tb*/
img*/
local_output*
_auto_*
sd-vae-ft-mse/
stable-diffusion-v1-4/
*.pth
*.pth.tar
*.ckpt
*.log
*.ipynb
toscli
*.hydra
wandb
*.jpg
*.csv
*.tar.gz
*.bin
tmp
output
*.tsv
output/*
results/
*.JPEG
debug/
weights
checkpoints
ref.py
wandb
.DS_Store
ref.sh
ref.py
checkpoints_bk
*.avi
infinity/VideoVAE
saves/
tmp.sh
ref_*.sh
tmpp.sh
ref2.sh
checkpoints_new
checkpoints_*
tmp_images
tmp_videos
shm
wget-log
data/interactive_toy_data
tools/infer_interact_480p.py.bk
