__pycache__/
cache/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.tar.gz
*.pt
*.pth

checkpoints/
InfinityStar-main/checkpoint/
TSformer-VO-main/checkpoint/
TSformer-VO-main/checkpoints/
TSformer-VO-main/__pycache__/

